<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Blast off..." %>
  </div>
  <%= f.submit "blast", class: "btn btn-primary" %>
  <span class="fake-input-button-box">
  <span class="btn btn-primary">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "image-upload" %>
      <div class="fake-input-button-text">
      upload image blast  
      </div>
  </span>
  </span>  
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Blasts cannot be larger than 5MB!');
    }
  });
</script>