<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!--<img src="mn_squash_logo_v2_2.png">-->
    <%= link_to root_path do
      image_tag("mn_squash_2.png", size:"70", alt:"Minnesota Squash Logo", id: "img")
    end %>
    <%= link_to root_path do
      image_tag("mn_squash_1.png", size:"70", alt:"Minnesota Squash Logo", id: "img")
    end %>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <div class="logo-text">
      <%= link_to "mn squash", root_path, class: 'logo-text' %>
    </div>
  
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "users", users_path %></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "profile", current_user %></li>
              <li><%= link_to "settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              experiments <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "register a squash club!", new_club_path %></li>
              <li><%= link_to "squash clubs!", clubs_path %></li>
              <li><%= link_to "cTool", convert_path %></li>
              <li><%= link_to "record match results", new_match_path %></li>
              
            </ul>
          </li>
        <% else %>
          <li><%= link_to "log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>